html {
    font-size: 20px;
    font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
    color: #333;
    font-weight: 400;
    line-height: 1.3;
    background: rgb(17,238,255);
    background: linear-gradient(90deg, rgba(17,238,255,1) 0%, rgba(192,255,223,1) 100%);
}

body {
    max-width: 650px;
    margin: auto;
}

b, strong { font-weight: 600;}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #111;
    text-shadow: -1px 1px 5px rgba(0,0,0,.1);
}

a {
    color: rgba(17,238,255,1);
    text-decoration: underline;
}

a:hover {
    color: rgba(192,255,223,1);
    text-decoration: none;
}

header, section, footer {
    padding: 1rem 1rem;
    background-color: #fff;
    box-shadow: -1px 1px 5px rgba(0,0,0,.2);
}

header {
    text-align: center;

    margin-top: 0;
    margin-bottom: 2rem;
    border-radius: 0 0 5px 5px;

    padding-bottom: 2rem;
}

.logo {
    font-size: 4rem;
    padding-top: .5rem;
    margin-bottom: 0;
}

header h1 {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: .5rem;
}

header span {
    font-size: 1.75rem;
}

main {}



section {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

section h2 {
    border-bottom: 8px solid rgba(255, 174, 0, .5);
    margin-top: 0px;
}

footer {
    margin-top: 2rem;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

/* TYPOGRAPHY */

blockquote {
    font-style: italic;
}

blockquote::before {
    content: '"'
}
blockquote::after {
    content: '"'
}

/* mobile styles */

@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
        max-width: 700px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (min-width: 1080px) {
    body {
        font-size: 1.2rem;
        max-width: 750px;
    }

}
